In [ ]:
# pulls table from database and outputs to a csv

In [12]:
# import libraries
import pandas as pd
import psycopg2 as ps
import re
import os
import time
from datetime import datetime
import requests

In [43]:
host = 'db-1.crs7hg7ymswn.us-east-2.rds.amazonaws.com'
name = 'BerkHathPort'
user = 'saajanrpatel'
password = 'Tampa!bay21'
conn_str = "host=%s dbname=%s user=%s password=%s" % (host, name, user, password)
print(conn_str)
tbl_name = 'BH_portfolio'
csv_name = tbl_name + '_pull' + '.csv'

host=db-1.crs7hg7ymswn.us-east-2.rds.amazonaws.com dbname=BerkHathPort user=saajanrpatel password=Tampa!bay21

In [38]:
conn = ps.connect(conn_str)
cursor = conn.cursor()

In [40]:
query = (""" SELECT * FROM %s;""" % (tbl_name))
cursor.execute(query)
data = cursor.fetchall()

In [39]:
# get column names from database table
cursor.execute("SELECT * FROM %s LIMIT 0;" % (tbl_name))
cols = [desc[0] for desc in cursor.description]
#df = pd.DataFrame(data)
#df.head(10)
print(cols)

['date', 'open_jnj', 'close_jnj', 'volume_jnj', 'open_pg', 'close_pg', 'volume_pg', 'open_cvx', 'close_cvx', 'volume_cvx', 'open_bac', 'close_bac', 'volume_bac', 'open_vz', 'close_vz', 'volume_vz', 'open_ups', 'close_ups', 'volume_ups', 'open_c', 'close_c', 'volume_c', 'open_usb', 'close_usb', 'volume_usb', 'open_aon', 'close_aon', 'volume_aon', 'open_oxy', 'close_oxy', 'volume_oxy', 'open_mco', 'close_mco', 'volume_mco', 'open_mck', 'close_mck', 'volume_mck', 'open_hpq', 'close_hpq', 'volume_hpq', 'open_kr', 'close_kr', 'volume_kr', 'open_aapl', 'close_aapl', 'volume_aapl', 'open_ce', 'close_ce', 'volume_ce', 'open_ally', 'close_ally', 'volume_ally', 'open_dva', 'close_dva', 'volume_dva', 'open_stor', 'close_stor', 'volume_stor', 'open_fnd', 'close_fnd', 'volume_fnd']

In [42]:
df = pd.DataFrame(data)
df.columns = cols

,date,open_jnj,close_jnj,volume_jnj,open_pg,close_pg,volume_pg,open_cvx,close_cvx,volume_cvx,...,volume_ally,open_dva,close_dva,volume_dva,open_stor,close_stor,volume_stor,open_fnd,close_fnd,volume_fnd
0,2020-07-29,146.39,146.54,4624296.0,127.5600,128.31,6821655.0,89.48,90.07,6490174.0,...,3319893.0,88.05,91.30,901591.0,23.70,24.03,2161450.0,68.57,70.62,1273559.0
1,2020-07-30,147.44,146.84,6059590.0,130.6600,131.42,10980323.0,88.43,86.27,10230919.0,...,3775314.0,90.13,91.12,1377697.0,23.52,23.70,1281702.0,69.97,69.99,1336447.0
2,2020-07-31,146.66,145.76,8380743.0,130.0065,131.12,9016194.0,83.25,83.94,19394033.0,...,3962281.0,91.60,87.39,1847563.0,23.80,23.69,2294771.0,69.93,65.90,1963781.0
3,2020-08-03,146.39,147.35,4186834.0,130.4700,131.29,8019736.0,83.98,84.81,11389231.0,...,6158867.0,87.63,87.21,920554.0,23.60,23.46,1991450.0,66.50,68.05,1379162.0
4,2020-08-04,146.99,147.22,4256290.0,130.7700,133.79,7900587.0,84.48,86.49,9226251.0,...,3329660.0,86.63,83.57,1221358.0,23.45,24.43,2669777.0,68.45,68.36,1134821.0

In [46]:
df.to_csv(csv_name)
cursor.close()
if conn:
    conn.close()